.books .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.books .image > img  {
  height: 100%;
  width: 100%;
}

.books .title {
  height: 3rem;
}

body  {
  background-color: black;
}


.card .body {
  display: flex;
  align-items: flex-start;
}
.fa-btc {

}

.container .subtitle {
  color: #DC3545;
  margin-top: -20px;
  margin-left: -19px;
}
